.slider {
    width: 100%;
    height: 100%;
    position: relative;
    .switchSlideLeft, .switchSlideRight {
    }
    .slider-wrapper {
        height: 100%;
        overflow: hidden;
    }
    .gallery {
        transition: .8s ease-in-out transform;
        height: 100%;
        align-items: center;
        display: inline-flex;
        justify-content: space-between;
        .slide {
            height: 100%;
            background: black;
            box-sizing: border-box;
        }
    }
    .dots {
        position: absolute;
        display: flex;
        align-items: center;
        left: 50%;
        bottom: -24px;
        gap: 4px;
        transform: translateX(-50%);
        .dot {
            cursor: pointer;
            width: 12px;
            aspect-ratio: 1 / 1;
            background: black;
            border-radius: 50%;
        }
    }
}