@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald.ttf');
}

html {}

body,
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
    font-family: 'Oswald';
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
}


.swiper-slider {
    position: relative;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    gap: 30px; */
    /* overflow: hidden; */
    .btn-left {

        z-index: 10;
        cursor: pointer;
        left: 0;
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;

        img {
            
            width: 24px;
            height: 24px;
            padding: 8px;
            background-color: blueviolet;
            border-radius: 50%;
        }
    }

    .btn-right {
        display: flex;
        z-index: 10;
        right: 0;
        cursor: pointer;
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;

        img {

            width: 24px;
            height: 24px;
            padding: 8px;
            background-color: blueviolet;
            border-radius: 50%;
        }
    }
    .slider {
        transition: .8s ease-in-out;
    
        /* width: 15000px; */
        /* justify-content: space-between; */
        display: inline-flex;
        /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
        /* gap: 30px; */
        
        transition: .5 ease-in-out;
        img {
            max-height: 320px;
        }
    }
    .dots {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
        .dot {
            background-color: #959595;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
        .dot.active {
            background-color: #5a93d9;
        }
    }
}



@media (width < 950px) {
    .swiper-slider {
        .slider {
        }
    }
}

@media (width <=660px) {
    .swiper-slider {
        .slider {
        }
    }
}

/* .block_new {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    &:active {
        .car {
            transform: translate(90vw);
            transition: 2s ease-in-out;
        }
    }
    .car {
        cursor: pointer;
    }
    .car .img {
        width: 270px;
        height: 92.5px;
        transform: translate(50px, 100px);
    }
} */